.App {
  /* width: 50vw; */
}

div {
  box-sizing: border-box;
}

.main {
  padding: 10px;
  margin: 20px 0px;
  display: flex;
  flex-wrap: nowrap;
}

.scheduler {
  margin: 0px 10px;
  max-height: 60vh;
  overflow: auto;
  display: flex;
  border: 1px solid rgb(192, 192, 192);
  width: 100%;
}

.header { background: #003267; background: linear-gradient(to right, #011329 0%,#00639e 44%,#011329 100%); padding:20px 10px; color: white; box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75); }
.header a { color: white; }
.header h1 a { text-decoration: none; }
.header h1 { padding: 0px; margin: 0px; }

.main .column {
  min-width: 200px;
}

.toprow { 
  height: 40px; 
  border: 1px solid rgb(192, 192, 192);
  background: rgb(243, 243, 243); 
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  /* padding: 10px; */
  height: 60px;
  text-align: center;
  border: 1px solid rgb(192, 192, 192);
  background: rgb(243, 243, 243);
  min-width: 80px;
}

.innerCell {
  background: rgb(249, 249, 249) !important;
  border: 1px solid rgb(221, 221, 221) !important;
}

/* React calender  */

